@charset "UTF-8";

body {
    background-color: rgb(0, 119, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color: white;
    font-size: 2em;

}

section {
    background-color: white;
    margin: auto;
    height: 350px;
    width: 600px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.534);
}

footer {
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: italic;
    margin-top: 15px;
}
